/* header */
body {
    margin: auto;
}

header {
    background-color: rgb(18, 18, 148);
}

h1 {
    font-family: 'Segoe UI';
    color: white;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.signInButton, .loginButton {
    float: right;
    font-family: 'Segoe UI';
    margin: 16px 9px;
}

#signInButton, #loginButton {
    background-color: rgb(189, 185, 185);
    border-radius: 9px;
}

#loginButtonLabel, #signInButtonLabel {
    margin-top: 17px;
}

/* form */
.loginForm {
    margin: auto;
    width: 17%;
    position: relative;
    top: 30px;
}

.signInForm {
    margin: auto;
    width: 17%;
    position: relative;
    top: 30px;
}

h3 {
    font-family: 'Segoe UI';
}

label {
    color: rgb(168, 165, 165);
    font-size: 15px;
    font-family: 'Segoe UI';
}
/* 
#birthdayInput {
    
} */

#output {
    font-family: 'Segoe UI';
    position: fixed;
    bottom: 60px;
    padding-left: 3px;
    margin: auto;
}

/* footer */
footer {
    background-color: rgb(166, 166, 248);
    font-family: 'Segoe UI';
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
}